@import "variables";

.task-index-container {
  background: $lightblue;
}

.create-task-container {
  .create-task-form {
    background: white;
    padding: 20px;

    .create-task-input {
      width: 100%;
      border: none;
      height: 40px;
      padding-left: 20px;
      color: #484848;

      &:focus {
        border: 1px solid $blue;
      }
    }
  }
}

.right-side {
  right: 0;
  height: 100%;
  position: absolute;
  top: 67px;
  width: 50%;
}

.tasks-container {
  z-index: 1;
  left: 12px;
  top: 67px;
  width: 700px;
  position: absolute;
}

.hide {
  display: none;
}
@media screen and (max-width: 1000px) {
  .tasks-container {
    // width: 800px;
    left: 0;
    // left: 12px;
  }
}

@media screen and (max-width: 900px) {
  .task-show-container {
    display: none;
  }

  .tasks-container {
    width: 700px;
    left: 12px;
  }
}

@media screen and (max-width: 700px) {
  .tasks-container {
    width: 100%;
    left: 0;
    top: 50px;
  }
}
