.date-option-container{
  padding-top: 200px;
  border: 1px solid black;
  // display: flex;
  right: 500px;
  top: 400px;
  width: 400px;
  height: 400px;

  background: blue;
  // div{
  //   top: 400px;
  //   text-align:center 
  // }
}