@import "variables";

.date-option-container {
  // padding-top: 200px;
  // border: 1px solid black;
  // display: flex;
  // right: 500px;
  // top: 400px;
  // width: 400px;
  // height: 400px;
  background: white;
}

.label-container {
}

.calendar-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calendar-button {
  border: none;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    background: $blue;
    color: white;
    border-radius: 4px;
    padding: 2px 5px;
  }
}

.select-date-button-container {
  padding: 20px 0;

  .select-date {
    display: flex;
  }

  .feature-buttons {
    background: $blue;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

// .date-picker-selector {
//   background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
// }
// [type="date-picker-selector"]::-webkit-inner-spin-button {
//   display: none;
// }
// [type="date-picker-selector"]::-webkit-calendar-picker-indicator {
//   opacity: 0;
// }

.date-picker-selector {
  display: block;
}
