@import "variables";

.icons {
  margin: 0 2.5px;
  padding: 5px;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 40px;

  .flex-buttons {
    display: flex;

    button {
      border: none;
      color: $blue;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    a {
      color: black;
      margin-top: 11px;
    }
  }
  .create-task-button {
    float: right;
    padding: 0 14px;
    color: white;
    background: $blue;
    border-radius: 4px;
    margin: 5px 0;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.inbox-subcat,
.tags-subcat,
.lists-subcat,
.locations-subcat {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  a {
    color: black;
    margin: 5px 0;
  }
}

.left-nav-inbox-container {
  width: 60%;
}

.left-nav-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  transition: transform 0.9s;
  background: $lightblue;
  color: #484848;
}

.title {
  padding-bottom: 10px;
}

.tags-subcat {
  display: flex;
  flex-direction: column;
}

.rotate {
  transition: 0.2s ease-in;
  transform: rotate(-90deg);
}

.unrotate {
  transition: 0.2s ease-in;
  transform: rotate(0deg);
}

.drop-headers {
  margin: 0;
  padding: 0;
  color: $blue;
  font-weight: bolder;
}

.move-over {
  transform: translate(150px, 0);
  transition: 0.6s ease-in;
}
