@import "variables";

.icons {
  margin: 0 2.5px;
  padding: 5px;
}

.flex-buttons {
  display: flex;

  a {
    color: black;
  }
}

.inbox-subcat {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  a {
    color: black;
  }
}

.left-nav-inbox-container {
  width: 60%;
}

.left-nav-container {
  position: absolute;
  width: 150px;
  transition: transform 0.9s;
  background: $lightblue;
  color: #484848;
}

.title {
  padding-bottom: 10px;
}
