@import "variables";

.add-list-button {
  background: $blue;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.task-list-filter {
  padding: 20px 0;
}
