@import "variables";

.summary-container {
  position: relative;
  display: flex;
  color: $blue;
  width: 400px;
  height: 180px;
  border-radius: 5px;
  margin-right: 100px;
  margin-left: 20px;
  margin-top: 2px;
  background-color: rgb(219, 232, 245);
  justify-content: space-between;
  .summary-title {
    border-right: 1px;
    border-color: darkblue;
  }

  .sum-count-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    display: inline-block;
    padding: 9px 13px;
  }
  .sum-count-txt {
  }
}
