@import "variables";

.task-list {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.task-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px 15px 5px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  font-size: 13px;
  color: #333333;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.strike {
  text-decoration: line-through;
}

.task-line-container {
  width: 100%;
}

.delete-task-button {
  float: right;
}
