@import "variables";

.task-list {
  background-color: white;
  margin: 115px 250px;
  border-radius: 8px;
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0px -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0px -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 0;
  padding-top: 14px;
}

.task-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px 15px 40px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  font-size: 13px;
  color: #333333;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.strike {
  text-decoration: line-through;
}