@import "variables";

.task-list {
  padding: 15px;
  height: 100%;
  background: white;
}

.task-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px 15px 5px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px dotted #e5e5e5;
  font-size: 13px;
  color: #333333;
}

.task-list-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px 15px 5px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px dotted #e5e5e5;
  font-size: 13px;
  color: #333333;
  border: none;

  &:hover {
    cursor: pointer;
    border-color: $blue;
    background: $lightblue;
  }
}

input[type="checkbox"] {
  margin-right: 10px;
}

.strike {
  text-decoration: line-through;
}

.task-line-container {
  width: 100%;
}

.delete-task-button {
  float: right;
  padding: 2px 10px;
  background-color: $blue;
  color: white;
  border: white;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.summary-container {
  padding: 50px;
}

.show-move-left {
  transform: translate(1px, 0);
  transition: 0.8s ease-in;
}

.show-move-right {
  transform: translate(1000px, 0);
  transition: 0.8s ease-in;
}

.move-right {
  transform: translate(150px, 0);
  transition: 0.6s ease-in;
}

.move-left {
  transform: translate(0, 0);
  transition: 0.6s ease-in;
}

.task-index-page-content {
  width: 100%;
}

.task-container {
  width: 49%;
}

.task-show-page {
  width: 100%;
  background: white;
  color: #484848;
  height: 100%;
  border: 1px solid rgb(226, 226, 226);
  border-left: 2.4px solid lightgray;
  border-radius: 6px;
  z-index: 5;
}

#task {
  display: inline;

  &:hover {
    cursor: pointer;
  }
}

.task-line-button {
  border: none;
  display: inline;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1165px) {
  .task-show-container {
    visibility: hidden;
  }
}
